[Desktop Entry]
Type=Application
Exec=qubes-template-upgrader-gui
Icon=qubes-manager
Terminal=false
Name=Template upgrader GUI
GenericName=Template upgrader GUI
StartupNotify=false
Categories=System;
